main{
color: #ffff00;
background-color: #0000ff;
}
header{
color: #ff0000;
}
nav{

}
footer{
color: #00ff00;
background-color: #ffff00;
}
.spanstyle{
  color: #6a0dad;
  background-color: #ffffff;
}
#tkygh{
  color: #00ff00;
  background-color: #6a0dad;
}
a:link {
 color: #ff0000;
}

a:visited {
 color: #00ff00;
}

a:active {
 color: #6a0dad;
}

a:hover {
 color: #ffff00;
}
