body{
  background-image: url(FruityplateBernie.jpg);
}
h1{
  font-weight: normal;
  font-size: 100px;
  background-color: #FC28FC;
  margin: 0px;
  padding: 2px;
  text-align: center;
  border: 2px solid black;
  font-family: papyrus;
  grid-column: span 3;
}
h3{
  font-size: 40;
  color: white;
  text-align: center;
  font-family: papyrus;
  grid-column: span 3;

}
p{
  grid-column: span 3;
  text-align: center;
  font-family: times-new-roman;
  color: white;

}
.subscribe{
  text-decoration: none;
  color: #FC0D1B;
}
.subscribe:hover{
  color: #FF9A9A;
}
