.berniebox{
  display: grid;
  width: 800px;
  margin: 1em auto;
  background-color: #65318F;
  grid-template-columns: 1fr 1fr 1fr;
}
nav{
  text-shadow: 5px 5px 10px #b8b8b8;
  font-size: 22;
  grid-column: span 3;
  margin: 0px;
  padding: none;
  font-family: times-new-roman;
  color: white;
  text-align: center;
}
.home{
  width: 60px;
  text-decoration: none;
  color: white;
  margin: 0px 10px;
  padding: 10px 80px;
  border: 2px solid black;
  grid-column: span 1;
  background-color:#33ACE0;
  display: inline-block;
}
.home:hover{
  background-color: #5B98D4;
}
.audio{
  width: 60px;
  text-decoration: none;
  color: white;
  margin: 0px 10px;
  padding: 10px 80px;
  border: 2px solid black;
  grid-column: span 1;
  background-color: #EE5B30;
  display: inline-block;

}
.audio:hover{
  background-color: #F39804;
}
.theatre{
  width: 60px;
  text-decoration: none;
  color: white;
  margin: 0px 10px;
  padding: 10px 80px;
  border: 2px solid black;
  grid-column: span 1;
  background-color: #2F3590;
  display: inline-block;
}
.theatre:hover
{
background-color: #1913BD;
}
.YouTube{
  width: 60px;
  text-decoration: none;
  color: white;
  margin: 0px 10px;
  padding: 10px 80px;
  border: 2px solid black;
  grid-column: span 1;
  background-color: #FC0D1B;
  display: inline-block;
}
.YouTube:hover{
  background-color: #C10101;
}

footer{
font-size: 6;
  text-align: right;
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  color: #9224B2;
grid-column: span 3;
}
footer a:hover{
  color: #E8A7FA;
  text-decoration: none;

}
