body{
  background-image: url(Scared_Bernie600px.jpg);
}
h1{
  font-weight: normal;
  font-size: 100px;
  background-color: #FC28FC;
  margin: 0px;
  padding: 2px;
  text-align: center;
  border: 2px solid black;
  font-family: papyrus;
  grid-column: span 3;
}

h3{
  text-shadow: 2px 2px 10px #b8b8b8;
  grid-column: span 2;
  font-size: 40;
  color: white;
  text-align: center;
  font-family: papyrus;
  display: inline;

}
img{
  grid-column: span 1;
  padding: 20px;
  margin: 0px;
  border-radius: 50px;
  box-shadow: 10px 10px 10px black;
  background-color: #7e3eb3;
}
p{
  grid-column: span 3;
  margin: 0px;
  padding: 50px;
  text-align: justify;
  text-align: center;
  font-family: times-new-roman;
  color: white;

}
